<?xml version="1.0"?>
<configuration>
	
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Sonda.Gestion.Adm.WEB.SondaNetReportWeb.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<section name="MicrosoftWebControls" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0,Culture=neutral,PublicKeyToken=b77a5c561934e089"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
	</configSections>
	
	<MicrosoftWebControls>
		<add key="CommonFiles" value="js\webctrl_client\1_0"/>
	</MicrosoftWebControls>
	
	<system.web>
		<pages validateRequest="false" enableEventValidation="false">
			<controls>
				<add tagPrefix="iewc" namespace="Microsoft.Web.UI.WebControls" assembly="Microsoft.Web.UI.WebControls, Version=1.0.2.226, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</controls>
		</pages>
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
		<!-- Tiempo de timeout para la aplicacion ws, cuando invoca otros utls 
     necesario para control de procesos ya que la ejecuci?n de estos puede extenderse por   
     per?odos prolongados-->
		<httpRuntime executionTimeout="400000" maxRequestLength="5000000"/>
		<!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
		<compilation defaultLanguage="vb" debug="true"/>
		<!--  CUSTOM ERROR MESSAGES  
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.
    -->
		<customErrors mode="Off"/>
		<!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"
    -->
		<authentication mode="Windows"/>
		<!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
		<authorization>
			<allow users="*"/>
			<!-- Allow all users -->
			<!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
		</authorization>
		<!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="false"/>
		<!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
		<!--sessionState mode="StateServer" stateConnectionString="tcpip=localhost:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="30"/-->
		<!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
		<!--globalization requestEncoding="utf-8" responseEncoding="utf-8"/-->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" uiCulture="es-EC" culture="es-EC"/>
	</system.web>
	<appSettings>
		<!--<add key="CONNECTIONSTRING" value="User ID=newafp;Password=newafp;Data Source=DESA64;Pooling=true;Connection Lifetime=1200;Max Pool Size=200;Min Pool Size=20;"/>-->
		<add key="CONNECTIONSTRING" value="User ID=newafp;Password=sonda;Data Source=10.14.154.53:1521/DBAFP;Pooling=true;Connection Lifetime=1200;Max Pool Size=200;Min Pool Size=20;"/>

		<add key="ID_ADM" value="1"/>
		<add key="USU" value="SND"/>
		<add key="ctlAcceso" value="false"/>
		<add key="logAcceso" value="false"/>

		<add key="ADMINISTRADORA" value="1032"/>

		<add key="Sonda.Net.Configuracion.UrlXMLSondaExceptions" value="D:\git\afpnet\web\webSondaNet\sondaexceptions.xml"/>
		<add key="Sonda.Net.Configuracion.BaseTempDir" value="D:\git\afpnet\web\webSondaNet\"/>
		<add key="WEB_TEMPDIR_RUTA" value="D:\git\afpnet\web\webSondaNet\TEMP"/>
		<add key="DATAGRIDSND_DATASET_TEMPDIR" value="D:\git\afpnet\web\webSondaNet\DSCACHE\"/>
		<add key="DATAGRIDSND_DATASET_GUARDAR_POR_DEFECTO" value="ENARCHIVO"/>
		<add key="DATAGRIDSND_DATASET_LIFETIME" value="60"/>

		<add key="SCHEMA" value="NEWAFP"/>
		<add key="PROVIDER" value="MSORACLE"/>

		<add key="ascxLogin" value="Login"/>
		<add key="ascxFooter" value="Pie"/>

		<add key="Sonda.Net.Page.Configuracion.HabilitarPopupCSS" value="True"/>
		<add key="Sonda.Net.Control.Configuracion.DropDownListFuerzaTipoNormal" value="True"/>
		<add key="Sonda.Net.Control.Configuracion.LocalFileSelectorUsaActivex" value="False"/>
		<add key="Sonda.Net.Control.Configuracion.TabStripMultiPageHTML5" value="False"/>
		<add key="Sonda.Net.Control.Configuracion.MultiNavegador" value="True"/>
		<add key="Sonda.Net.Page.Configuracion.UserControlExpiracion" value="Expiracion"/>
		<add key="Sonda.Net.Control.Configuracion.DondeGuardarViewstate" value="ENSESSION"/>
		<add key="Sonda.Net.Web.Configuracion.HabilitarRecuperarClave" value="True"/>
		<add key="Sonda.Net.Configuracion.ActualizarWebServicesConfig" value="True"/>
		<add key="Sonda.Net.Configuracion.DespachadorHabilitado" value="True"/>
		<add key="INSTANCIA_CONTROLADOR_PROCESOS" value="Controlador de Procesos Sonda.NET"/>
		<add key="WS" value="localhost/ws"/>
		<add key="wsSC" value="localhost/ws"/>
		<add key="LOCALWS" value="localhost/ws"/>
		<add key="REPORT_SERVER" value="localhost"/>
		<add key="WEB_TEMPDIR" value="/temp/"/>
		<add key="REPORT_WIDTH" value="760"/>
		<add key="REPORT_HEIGHT" value="440"/>
		<add key="STRPASS" value="1234"/>
		<add key="STRING_FTP" value="IP=localhost;Usuario=usrcopia;Password=usrcopia;Port=21;Path=/utlfile/USRCOPIA"/>
		<add key="STRING_FTP_2" value="IP=localhost;Usuario=usrcopia;Password=usrcopia;Port=21;Path=/utlfile/USRCOPIA"/>
		<add key="Sonda.Gestion.Adm.WEB.Soporte.ControlAccesoUsuario.MostrarCodigoDescripcion" value="False"/>
		<add key="Sonda.Gestion.Adm.WEB.Soporte.ControlAccesoUsuario.Customizacion" value="DESARROLLO"/>
		<add key="webServicios.wsCuicING.ServiciosCUIC" value="http://serviciocuic/ServiciosCUIC.asmx"/>
		<add key="SIAGF_ENTIDAD" value="12345"/>
		<add key="SIAGF_USU" value="carga_12345"/>
		<add key="SIAGF_PASSWD" value="12345"/>
		<add key="SIAGF_PROXY_USU" value="usu"/>
		<add key="SIAGF_PROXY_PASS" value="12345"/>
		<add key="SIAGF_PROXY_DOMAIN" value="domain"/>
		<add key="SIAGF_PROXY_URL" value="localhost"/>
		<add key="SIAGF_PROXY_PORT" value="8080"/>
		<add key="Sonda.Net.Page.Configuracion.HabilitarContextoSesionEnArchivo" value="True"/>
		<add key="Sonda.Net.Page.Configuracion.ContextoSesionCacheEnMemoria" value="False"/>
		<add key="Sonda.Net.Control.Configuracion.PagedDatasetCacheEnMemoria" value="False"/>
		<add key="Sonda.Net.Configuracion.Trace" value="False"/>
		<add key="Sonda.Net.Configuracion.RegistrarExceptionEnEventViewerDesdeSeveridad" value="10"/>
		<add key="Sonda.Net.Page.Configuracion.ServerTransferAvanzado" value="False"/>
		<add key="Sonda.Net.Web.Configuracion.DescargarJquery" value="True"/>
		<add key="IMG_LOGO" value="img\reportes_sap\LOGO.jpg"/>
		<add key="IMG_FIRMA" value="img\reportes_sap\FIRMA.jpg"/>
		<add key="IMG_PIE_FIRMA" value="img\reportes_sap\PIE_FIRMA.jpg"/>
		<add key="Sonda.Net.Page.Configuracion.SeguridadIntermedia" value="True"/>
		<add key="WS_CNU" value="LOCALHOST/WS/wsCapitalNecesarioUnitario"/>
		<add key="PROVIDER_EXCEL" value="Provider=Microsoft.aCE.Oledb.12.0;"/>
		<add key="Sonda.Net.Report.Configuracion.CrystalReports_ExcelConstantColumnWidth" value="720"/>
		<add key="Sonda.Net.Page.Configuracion.DesplegarErroresComoMensajesNxt" value="True"/>
		<add key="Sonda.Net.Control.Configuracion.ButtonCssClassPorTipo" value="True"/>
		<add key="Sonda.Gestion.Adm.Sys.Soporte.Configuracion.ProcesosColasEnBaseDeDatos" value="True"/>
		<add key="Sonda.Net.Web.Configuracion.AmbienteAplicacion" value="DEBUG"/>
		<add key="Sonda.Net.Configuracion.Multiambiente" value="False"/>
	</appSettings>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2147483648"/>
			</requestFiltering>
		</security>
		<defaultDocument>
			<files>
				<remove value="Default.htm"/>
				<remove value="mainafp.htm"/>
				<add value="MainAfp.htm"/>
			</files>
		</defaultDocument>
		<httpProtocol>
			<customHeaders>
				<clear/>
				<add name="X-UA-Compatible" value="IE=8"/>
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	
</configuration>